<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bold</key>
	<string>&lt;b&gt;%c&lt;/b&gt;</string>
	<key>Center Align</key>
	<string>&lt;div align="center"&gt;%c&lt;/div&gt;</string>
	<key>Comment</key>
	<string>&lt;!-- %c --&gt;</string>
	<key>Emphasize</key>
	<string>&lt;em&gt;%c&lt;/em&gt;</string>
	<key>Font</key>
	<string>&lt;font face="helvetica" size="2" color="black"&gt;%c&lt;/font&gt;</string>
	<key>Horizontal Line</key>
	<string>&lt;hr /&gt;%c</string>
	<key>Hyperlink</key>
	<string>&lt;a href="mypage.html"&gt;%c&lt;/a&gt;</string>
	<key>Image</key>
	<string>&lt;img src="%c" alt="alternatetext" /&gt;</string>
	<key>Italic</key>
	<string>&lt;i&gt;%c&lt;/i&gt;</string>
	<key>Justify</key>
	<string>&lt;div align="justify"&gt;%c&lt;/div&gt;</string>
	<key>Left Align</key>
	<string>&lt;div align="left"&gt;%c&lt;/div&gt;</string>
	<key>Line Break</key>
	<string>&lt;br /&gt;%c</string>
	<key>Message Link</key>
	<string>&lt;a href="mailto:person@domain.com"&gt;%c&lt;/a&gt;</string>
	<key>Ordered List</key>
	<string>&lt;ol&gt;
    &lt;li&gt;%c&lt;/li&gt;
    &lt;li&gt;Item 2&lt;/li&gt;
    &lt;li&gt;Item 3&lt;/li&gt;
&lt;/ol&gt;</string>
	<key>Paragraph</key>
	<string>&lt;p&gt;%c&lt;/p&gt;</string>
	<key>Right Align</key>
	<string>&lt;div align="right"&gt;%c&lt;/div&gt;</string>
	<key>Strike</key>
	<string>&lt;strike&gt;%c&lt;/strike&gt;</string>
	<key>Strong</key>
	<string>&lt;strong&gt;%c&lt;/strong&gt;</string>
	<key>Table</key>
	<string>&lt;table border="1"&gt;
    &lt;tr&gt;
        &lt;td&gt;%c&lt;/td&gt;
        &lt;td&gt;row 1, cell 2&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;row 2, cell 1&lt;/td&gt;
        &lt;td&gt;row 2, cell 2&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</string>
	<key>Underline</key>
	<string>&lt;u&gt;%c&lt;/u&gt;</string>
	<key>Unordered List</key>
	<string>&lt;ul&gt;
    &lt;li&gt;%c&lt;/li&gt;
    &lt;li&gt;Item 2&lt;/li&gt;
    &lt;li&gt;Item 3&lt;/li&gt;
&lt;/ul&gt;</string>
</dict>
</plist>
