<?xml version="1.0f" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0f//EN" "http://www.apple.com/DTDs/PropertyList-1.0f.dtd">
<plist version="1.0f">
<array>
	<dict>
		<key>name</key>
		<string>None</string>
		<key>cleartags</key>
		<true/>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>attributes</key>
		<dict/>
		<key>name</key>
		<string>HTMLFormatMenuHeading1</string>
		<key>tag</key>
		<string>h1</string>
	</dict>
	<dict>
		<key>attributes</key>
		<dict/>
		<key>name</key>
		<string>HTMLFormatMenuHeading2</string>
		<key>tag</key>
		<string>h2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuHeading3</string>
		<key>tag</key>
		<string>h3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuHeading4</string>
		<key>tag</key>
		<string>h4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuHeading5</string>
		<key>tag</key>
		<string>h5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuHeading6</string>
		<key>tag</key>
		<string>h6</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuAlignImageLeft</string>
		<key>closetag</key>
		<string>&lt;/div&gt;</string>
		<key>opentag</key>
		<string>&lt;div class="image-left"&gt;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuAlignImageRight</string>
		<key>closetag</key>
		<string>&lt;/div&gt;</string>
		<key>opentag</key>
		<string>&lt;div class="image-right"&gt;</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuBlockquote</string>
		<key>ptag</key>
		<true/>
		<key>tag</key>
		<string>blockquote</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuCode</string>
		<key>tag</key>
		<string>code</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuParagraph</string>
		<key>closetag</key>
		<string>&lt;/p&gt;</string>
		<key>opentag</key>
		<string>&lt;p&gt;</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuStrike</string>
		<key>closetag</key>
		<string>&lt;/s&gt;</string>
		<key>opentag</key>
		<string>&lt;s&gt;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuSubscript</string>
		<key>closetag</key>
		<string>&lt;/sub&gt;</string>
		<key>opentag</key>
		<string>&lt;sub&gt;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTMLFormatMenuSuperscript</string>
		<key>closetag</key>
		<string>&lt;/sup&gt;</string>
		<key>opentag</key>
		<string>&lt;sup&gt;</string>
	</dict>
</array>
</plist>
